<div class="row text-center">
  <div class="col-xs-4">
    <%= image_tag(@imagem.url, class:"img-fluid rounded border mx-auto d-block", size: 300) %>
  </div>
  <div class="offset-md-1 col-xs-4">
    <br>
    <p>
      <strong>Nome:</strong>
      <%= @imagem.presente %>
    </p>

    <p>
      <strong>Situação:</strong>
      <%= @imagem.disponibilidade %>
    </p>

    <% unless @imagem.disponivel %>
      <p>
        <strong>Em:</strong>
        <%= @imagem.presenteado_em %>
      </p>
    <% else %>
      <p> <u>Por favor, tenha certeza ao clicar em confirmar. </u></p>
      <p> <b>Depois dessa etapa não será possível alterar. </b></p>
    <% end %>
    <% if @imagem.disponivel %>
      <%= link_to('Confirmar', escolher_imagem_path(:nome => params[:nome]), class: 'btn btn-primary') %>
    <% end %>
    <%=link_to 'Voltar', root_path(:nome => params[:nome]), class: 'btn btn-warning' %>
  </div>
</div>
