<div class="col">
  <div class="card">
    <%= image_tag(imagem.url, class:"img-thumbnail rounded border mx-auto") %>
    <div class="card-block">
      <h4 class="card-title">
        <%=imagem.presente%>
      </h4>
      <p class="card-text">
        <%=imagem.disponibilidade%>
        <p>
          <%= imagem.presenteado_em unless imagem.disponivel %>
        </p>
      </p>
      <%= link_to(imagem.link_name, imagem_path(:id => imagem.id, :nome => params[:nome]), class: imagem.button_class) %>
    </div>
  </div>
</div>
