<div class="col-sm-4">
  <div class="card" style="width: 20rem;">
    <%= image_tag(imagem.url, class:"img-fluid rounded") %>
    <div class="card-block">
      <h4 class="card-title"><%=imagem.presente%></h4>
      <p class="card-text">
        <%=imagem.disponibilidade%>
        <p><%= imagem.updated_at.strftime("%l:%M%P %d/%m/%Y") unless imagem.disponivel %> </p>
      </p>
      <%= link_to(imagem.link_name, imagem_path(:id => imagem.id, :nome => params[:nome]), class: imagem.button_class) %>
    </div>
  </div>
</div>
